<?xml version="1.0"?>

<configuration>
  <appSettings >
    <add key="WebRoot" value="C:\inetpub\wwwroot\WageIS"/>
    <add key="Token" value="alwqjeorkldaldfkasdfouwekaljdfkajsdfoa"/>
  </appSettings>
    <system.web>
      <compilation debug="false" targetFramework="4.0" />
    </system.web>

</configuration>
